In [7]:
import csv
%precision 2
with open('creditcard.csv') as csvfile:
    cc = list(csv.DictReader(csvfile))
    
cc[:2]

[OrderedDict([('Time', '0'),
              ('V1', '-1.3598071336738'),
              ('V2', '-0.0727811733098497'),
              ('V3', '2.53634673796914'),
              ('V4', '1.37815522427443'),
              ('V5', '-0.338320769942518'),
              ('V6', '0.462387777762292'),
              ('V7', '0.239598554061257'),
              ('V8', '0.0986979012610507'),
              ('V9', '0.363786969611213'),
              ('V10', '0.0907941719789316'),
              ('V11', '-0.551599533260813'),
              ('V12', '-0.617800855762348'),
              ('V13', '-0.991389847235408'),
              ('V14', '-0.311169353699879'),
              ('V15', '1.46817697209427'),
              ('V16', '-0.470400525259478'),
              ('V17', '0.207971241929242'),
              ('V18', '0.0257905801985591'),
              ('V19', '0.403992960255733'),
              ('V20', '0.251412098239705'),
              ('V21', '-0.018306777944153'),
              ('V22', '0.277837575558899'),
              ('V23', '-0.110473910188767'),
              ('V24', '0.0669280749146731'),
              ('V25', '0.128539358273528'),
              ('V26', '-0.189114843888824'),
              ('V27', '0.133558376740387'),
              ('V28', '-0.0210530534538215'),
              ('Amount', '149.62'),
              ('Class', '0')]),
 OrderedDict([('Time', '0'),
              ('V1', '1.19185711131486'),
              ('V2', '0.26615071205963'),
              ('V3', '0.16648011335321'),
              ('V4', '0.448154078460911'),
              ('V5', '0.0600176492822243'),
              ('V6', '-0.0823608088155687'),
              ('V7', '-0.0788029833323113'),
              ('V8', '0.0851016549148104'),
              ('V9', '-0.255425128109186'),
              ('V10', '-0.166974414004614'),
              ('V11', '1.61272666105479'),
              ('V12', '1.06523531137287'),
              ('V13', '0.48909501589608'),
              ('V14', '-0.143772296441519'),
              ('V15', '0.635558093258208'),
              ('V16', '0.463917041022171'),
              ('V17', '-0.114804663102346'),
              ('V18', '-0.183361270123994'),
              ('V19', '-0.145783041325259'),
              ('V20', '-0.0690831352230203'),
              ('V21', '-0.225775248033138'),
              ('V22', '-0.638671952771851'),
              ('V23', '0.101288021253234'),
              ('V24', '-0.339846475529127'),
              ('V25', '0.167170404418143'),
              ('V26', '0.125894532368176'),
              ('V27', '-0.00898309914322813'),
              ('V28', '0.0147241691924927'),
              ('Amount', '2.69'),
              ('Class', '0')])]

In [10]:
import csv

with open('creditcard.csv') as csvfile:
    cc = list(csv.DictReader(csvfile))
    
cc[:2]

[OrderedDict([('Time', '0'),
              ('V1', '-1.3598071336738'),
              ('V2', '-0.0727811733098497'),
              ('V3', '2.53634673796914'),
              ('V4', '1.37815522427443'),
              ('V5', '-0.338320769942518'),
              ('V6', '0.462387777762292'),
              ('V7', '0.239598554061257'),
              ('V8', '0.0986979012610507'),
              ('V9', '0.363786969611213'),
              ('V10', '0.0907941719789316'),
              ('V11', '-0.551599533260813'),
              ('V12', '-0.617800855762348'),
              ('V13', '-0.991389847235408'),
              ('V14', '-0.311169353699879'),
              ('V15', '1.46817697209427'),
              ('V16', '-0.470400525259478'),
              ('V17', '0.207971241929242'),
              ('V18', '0.0257905801985591'),
              ('V19', '0.403992960255733'),
              ('V20', '0.251412098239705'),
              ('V21', '-0.018306777944153'),
              ('V22', '0.277837575558899'),
              ('V23', '-0.110473910188767'),
              ('V24', '0.0669280749146731'),
              ('V25', '0.128539358273528'),
              ('V26', '-0.189114843888824'),
              ('V27', '0.133558376740387'),
              ('V28', '-0.0210530534538215'),
              ('Amount', '149.62'),
              ('Class', '0')]),
 OrderedDict([('Time', '0'),
              ('V1', '1.19185711131486'),
              ('V2', '0.26615071205963'),
              ('V3', '0.16648011335321'),
              ('V4', '0.448154078460911'),
              ('V5', '0.0600176492822243'),
              ('V6', '-0.0823608088155687'),
              ('V7', '-0.0788029833323113'),
              ('V8', '0.0851016549148104'),
              ('V9', '-0.255425128109186'),
              ('V10', '-0.166974414004614'),
              ('V11', '1.61272666105479'),
              ('V12', '1.06523531137287'),
              ('V13', '0.48909501589608'),
              ('V14', '-0.143772296441519'),
              ('V15', '0.635558093258208'),
              ('V16', '0.463917041022171'),
              ('V17', '-0.114804663102346'),
              ('V18', '-0.183361270123994'),
              ('V19', '-0.145783041325259'),
              ('V20', '-0.0690831352230203'),
              ('V21', '-0.225775248033138'),
              ('V22', '-0.638671952771851'),
              ('V23', '0.101288021253234'),
              ('V24', '-0.339846475529127'),
              ('V25', '0.167170404418143'),
              ('V26', '0.125894532368176'),
              ('V27', '-0.00898309914322813'),
              ('V28', '0.0147241691924927'),
              ('Amount', '2.69'),
              ('Class', '0')])]

In [12]:
len(cc)

284807

In [14]:
cc[0].keys()

odict_keys(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class'])

In [20]:
sum(float(d['Amount'])for d in cc) / len(cc)

88.35

In [22]:
clas = set(d['Class'] for d in cc)
clas

{'0', '1'}

In [28]:
with open('CSV/mpg.csv') as ds:
    mpg = list(csv.DictReader(ds))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [30]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [32]:
sum(float(d['cty']) for d in mpg)

3945.00

In [33]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [35]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [39]:
cyl = set(d['cyl'] for d in mpg)
cyl

{'4', '5', '6', '8'}

In [73]:
ctympgbycyl = []

for c in cyl:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    ctympgbycyl.append(summpg/cyltypecount)
ctympgbycyl.sort(key=lambda x: x[1])
ctympgbycyl

TypeError: 'float' object is not subscriptable

In [71]:
car = set(d['class'] for d in mpg)
car

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [72]:
carhwmpg = []

for car in car:
    sumhwmpg = 0
    count = 0
    for d in mpg:
        if d['class'] == car:
            sumhwmpg += float(d['hwy'])
            count += 1
    carhwmpg.append((car,sumhwmpg/count))
carhwmpg.sort(key=lambda x: x[1])
carhwmpg

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [61]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [62]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [9]:
import csv
with open('CSV/mpg.csv') as mpg:
    mpg = list(csv.DictReader(mpg))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [14]:
%precision 2
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [20]:
drv = set(d['drv']for d in mpg)
drv

{'4', 'f', 'r'}

In [23]:
hwmpg = []

for d in drv:
    sum = 0
    count = 0
    for m in mpg:
        if m['drv'] == d:
            sum += float(m['cty'])
            count += 1
    hwmpg.append((d,sum/count))
    
hwmpg.sort(key=lambda x: x[1])
hwmpg

[('r', 14.08), ('4', 14.33), ('f', 19.97)]

# Dates and Times

How to add Date and Time using python

In [25]:
import datetime as dt
import time as tm

In [26]:
tm.time()

1594873015.31

In [27]:
dt.time()

datetime.time(0, 0)

In [31]:
dtnow = dt.datetime.fromtimestamp(tm.time())

In [34]:
dtnow.day, dtnow.month , dtnow.year

(16, 7, 2020)

In [40]:
delta = dt.timedelta(days = 10)
today = dt.date.today()
today

datetime.date(2020, 7, 16)

In [41]:
today - delta

datetime.date(2020, 7, 6)

In [42]:
today > today-delta

True

In [70]:
class person:
    department = "Student info"
    
    def set_name(self,name):
        self.name = name
        print("Hey {}".format(name))
    def set_location(self,location):
        self.location = location
        print("You are at {}".format(self.location))

In [74]:
p = person()
p.set_name('Tanmay')
p.set_location('Nashik')

Hey Tanmay
You are at Nashik

In [79]:
a = [1,2,6,2,9.6]
b = [2,1,7,4,9.5]
mini = map(min,a,b)
for i in mini:
    print(i)

1
1
6
2
9.5

In [102]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    f = person.split()[0]
    l = person.split()[-1]
    return "{} {}".format(f,l)
a = lambda person : "{} {}".format(person.split()[0],person.split()[-1])
# list(map(split_title_and_name,people))
list(map(a,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [97]:
a = lambda a , b, c : a+b+c

In [98]:
a(1,2,3)

6